[Unit]
Description=Eurobot 2018 color detection service

[Service]
Type=simple

User=pi

ExecStartPre=source activate cvra
ExecStart=/home/pi/berryconda3/envs/cvra/bin/python /home/pi/computer-vision/grab_and_detect.py
ExecStop=echo 'Exiting color detection service'

Restart=on-failure

# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=500
